<div class="footer">
    <div class="row">
        <div class="col-lg-2 col-md-3 footer-columns  footer-restaurant-info">
            <h3 routerLink="/home">Mei Wei</h3>
            <p>This Indian Restaurant is known for its East-Italian Dishes.</p>
            <br>
            <h6>Follow Us</h6>
            <div class="row footer-social-icons">
                <div class="col">
                    <span class="icon">
                        <i class="bi bi-facebook"></i>
                    </span>
                </div>
                <div class="col">
                    <span class="icon">
                        <i class="bi bi-twitter"></i>
                    </span>
                </div>
                <div class="col">
                    <span class="icon">
                        <i class="bi bi-instagram"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-3 col-md-3 footer-columns  footer-menu-section">
            <h5>Company</h5>
            <ul class="footer-menu">
                <li routerLink="/home">Home</li>
                <li routerLink="/menu">Menu</li>
                <li>Coupons</li>
                <li routerLink="/contact-us">Contact Us</li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-3 col-md-3 footer-columns  footer-restaurant-contact">
            <h5>Address</h5>
            <p>
                1424 N. Main St <br>
                Fuquay-Varina, NC 27526 <br>
                (In Harris Teeter Shopping Center)
            </p>
            <h5>Contact</h5>
            <p>
                <strong>Mobile:</strong> +1 (919) 762-7128 <br>
                <strong>Fax:</strong> (919) 762-7142
            </p>

        </div>
    </div>
</div>